<div class="container1 ">
  <img src="<%= img %>" class="cert" alt="">
  <img src="data:<%= data.logo.mimetype %>;base64,<%= data.logo.image %>" width="150" height="100" alt=""
    class="logo" />

  <div class="template">
    <%- data.template %>
  </div>

  <p class="p2 ">
    Publish Date: <%= new Date(data.publish.publish_date).toLocaleDateString() %>

  </p>
  <p class="p3 ">
    verfication code: <%=data._id %>
  </p>
  <div>
    <p class="sign">Signature: _____________________</p>

    <img src="data:<%= data.signature.mimetype %>;base64,<%= data.signature.image %>" width="150" height="100" alt=""
      class="isign" />
  </div>

</div>

</div>
<style>
  body {
    font-family: 'Times New Roman', Times, serif;
  }

  .cert {
    width: 29.7cm;
    height: 21cm;
  }

  .logo {
    position: absolute;
    top: 100px;
    left: 150px;
    object-fit: contain;
  }

  .sign {
    position: absolute;
    top: 680px;
    left: 700px;
    color: black;
  }

  .isign {
    position: absolute;
    top: 620px;
    left: 780px;
    object-fit: contain;
    font-family: "Century Gothic";
  }

  .template {
    position: absolute;
    top: 160px;
    color: black;
    left: 0;
    right: 0;
    height: 500px;
    /* Assign a value */
    width: 802px;
    word-wrap: break-word;
    margin: auto;
    font-family: "Century Gothic";
  }

  .container1 {
    position: relative;
    text-align: center;
    color: white;
    width: 29.7cm;
    height: 21cm;
  }

  .scroll {
    width: 842px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .desc {
    position: absolute;
    top: 210px;
    color: black;
    left: 0;
    right: 0;

    width: 600px;
    margin: auto;
  }

  .p2 {
    position: absolute;
    top: 650px;
    color: black;
    left: 200px;
    font-family: "Century Gothic";
  }

  .p3 {
    position: absolute;
    top: 680px;
    color: black;
    left: 200px;
    font-family: "Century Gothic";
  }

  @media print {

    html,
    body {
      height: 100vh;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden;
    }
  }
</style>