<div class="container1 ">
  <img src="<%= img %>" class="cert" alt="">
  <img src="data:<%= data.logo.mimetype %>;base64,<%= data.logo.image %>" width="150" height="100" alt=""
    class="logo" />

  <div class="template">
    <%- data.template %>
  </div>

  <p class="p2 ">
    issue_date: <%= new Date(data.issue_date).toLocaleDateString() %>
  </p>

  <p class="p3 ">
    verfication code: <%=data._id %>
  </p>

  <div>
    <p class="sign">Signature: _____________________</p>

    <img src="data:<%= data.signature.mimetype %>;base64,<%= data.signature.image %>" width="150" height="100" alt=""
      class="isign" />
  </div>
</div>

<style>
  .cert {
    width: 29.7cm;
    height: 21cm;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 13.094cm;
    object-fit: contain;
  }

  .template {
    position: absolute;
    top: 25%;
    left: 20px;
    color: black;
    left: 0;
    right: 0;
    font-size: 22px;
    font-family: 'Comfortaa';
    height: 555px;
    /* Assign a value */
    width: 802px;
    word-wrap: break-word;
    margin: auto;
  }

  .p2 {
    position: absolute;
    top: 700px;
    color: black;
    left: 1cm;
    font-family: 'Comfortaa';
    font-size: 15px;
  }

  .p3 {
    position: absolute;
    top: 730px;
    color: black;
    left: 1cm;
    font-family: 'Comfortaa';
    font-size: 15px;
  }

  .sign {
    position: absolute;
    top: 730px;
    right: 1cm;
    color: black;
    font-family: 'Comfortaa';
    font-size: 15px;
  }

  .isign {
    position: absolute;
    top: 660px;
    right: 1cm;
    object-fit: contain;

  }

  .container1 {
    position: relative;
    text-align: center;
    color: white;
    width: 29.7cm;
    height: 21cm;
  }

  @media print {

    html,
    body {
      height: 100vh;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden;
    }

  }

  .scroll {
    width: 842px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
</style>