<div class="container1 ">
    <img src="<%= img %>" class="cert" alt="">
    <img src="data:<%= data.logo.mimetype %>;base64,<%= data.logo.image %>" width="150" height="100" alt=""
        class="logo" />

    <div class="template">
        <%- data.template %>
    </div>
    <p class="p2 ">
        Publish Date: <%= new Date(data.publish.publish_date).toLocaleDateString() %>
    </p>

    <p class="p3 ">
        Verfication Code: <%=data._id %>
    </p>

    <div>
        <p class="sign">Signature: _____________________</p>

        <img src="data:<%= data.signature.mimetype %>;base64,<%= data.signature.image %>" width="150" height="100"
            alt="" class="isign" />
    </div>
</div>

<style>
    .cert {
        width: 29.7cm;
        height: 21cm;
    }

    .logo {
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        margin: auto;
        object-fit: contain;
    }

    .template {
        position: absolute;
        top: 30%;
        left: 23px;
        color: black;
        left: 0;
        right: 0;
        height: 555px;
        /* Assign a value */
        width: 790px;
        word-wrap: break-word;
        margin: auto;
        font-family: "Century Gothic";
    }

    .p2 {
        position: absolute;
        top: 650px;
        color: black;
        left: 2.5cm;
        font-family: 'Century Gothic';
    }

    .p3 {
        position: absolute;
        top: 680px;
        color: black;
        left: 2.5cm;
        font-family: 'Century Gothic';
    }

    .sign {
        position: absolute;
        top: 680px;
        right: 2.5cm;
        color: black;
        font-family: 'Century Gothic';
    }

    .isign {
        position: absolute;
        top: 610px;
        right: 2.56cm;
        object-fit: contain;
    }

    .container1 {
        position: relative;
        text-align: center;
        color: white;
        width: 29.7cm;
        height: 21cm;
    }

    @media print {

        html,
        body {
            height: 100vh;
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden;
        }

    }

    .scroll {
        width: 842px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
</style>