<div class="container1 ">
    <img src="<%= img %>" class="cert" alt="">
    <img src="data:<%= data.logo.mimetype %>;base64,<%= data.logo.image %>" width="150" height="100" alt=""
        class="logo" />

    <div class="template">
        <%- data.template %>
    </div>

    <p class="p2 ">
        Publish Date: <%= new Date(data.publish.publish_date).toLocaleDateString() %>
    </p>

    <p class="p3 ">
        Verfication Code: <%=data._id %>
    </p>

    <div>
        <p class="sign">Signature: _____________________</p>

        <img src="data:<%= data.signature.mimetype %>;base64,<%= data.signature.image %>" width="150" height="100"
            alt="" class="isign" />
    </div>
</div>

<style>
    body {
        font-family: 'Times New Roman', Times, serif;
    }

    .cert {
        width: 29.7cm;
        height: 21cm;
    }

    .logo {
        position: absolute;
        top: 1.0cm;
        left: 24.5cm;
        object-fit: contain;
    }

    .template {
        position: absolute;
        top: 2%;
        left: 2%;
        color: black;
        /* font-size: 22px; */
        height: 555px;
        /* Assign a value */
        width: 620px;
        word-wrap: break-word;
        font-family: "Kano regular";
    }

    .p2 {
        position: absolute;
        top: 690px;
        color: black;
        left: 1cm;
        margin: 0%;
        font-family: 'Kano regular';
        font-size: 15px;
    }

    .p3 {
        position: absolute;
        top: 720px;
        color: black;
        left: 1cm;
        margin: 0%;
        font-family: 'Kano regular';
        font-size: 15px;
    }

    .sign {
        position: absolute;
        top: 720px;
        right: 1cm;
        color: black;
        margin: 0%;
        font-family: 'Kano regular';
        font-size: 15px;
    }

    .isign {
        position: absolute;
        top: 620px;
        right: 1.06cm;
        object-fit: contain;
    }

    .container1 {
        position: relative;
        text-align: center;
        color: white;
        width: 29.7cm;
        height: 21cm;
    }

    @media print {

        html,
        body {
            height: 100vh;
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden;
        }

    }

    .scroll {
        width: 842px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
</style>